.QR h2 {
  padding: 3% 0;
}

.QR {
  background-image: url(../Images/homeCamion.jpg);
  text-align: center;
  height: 100%;
}

.QR input[type="text"] {
  margin: 20px 0;
  padding: 5px;
}
*/ #codigoManual {
  border-radius: 8%;
  padding: 5px;
  font-weight: bold;
}

#contMain {
  text-align: center;
}

#estadoEnvio {
  border: solid rgba(52, 58, 64, 1) 2px;
  padding: 5px;
  background-color: rgb(160, 157, 157);
  width: 65%;
  margin: 15px auto;
}

#reader {
  margin: auto;
  border: solid rgba(52, 58, 64, 1) 3px;
  width: 370px;
  height: 280px;
}
