#registro {
  background-color: white;
}

.formulario [type="textarea"] {
  padding: 30px;
}

.formulario h4 {
  margin: 25px 10px 10px 10px;
}

.button {
  width: 100%;
  height: 40px;
  margin: 35px 0;
  background: #14a1da;
  border: 1px solid #156785;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px rgb(90, 89, 89);
  color: white;
  cursor: pointer;
  transition: all 175ms;
}

#clonar {
  margin-bottom: -10px;
}

#form-Envio{
  width: 30%;
}