* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

html,
body {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;

  font-style: "Roboto", sans-serif;
}

body > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 2.5rem;
  background-color: rgba(52, 58, 64, 1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
  z-index: 4;
}
.slider {
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.slider ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: cambio 20s infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}
.slider li {
  list-style: none;
  width: 100%;
}
.slider img {
  width: 100%;
}
#sesion {
  display: block;
  height: 100%;
  float: right;
  cursor: pointer;
}

#sesion span {
  color: white;
  margin-left: 2rem;
  font-size: 1rem;
  font-family: Helvetica, sans-serif;
}

#sesion span:hover {
  color: #a0a0a0;
  transition: 0.3s;
}

#sesion span:hover > i {
  color: #a0a0a0;
  transition: 0.3s;
}

.fa-caret-down {
  margin-left: 5px;
  color: white;
}

#ul-desplegable {
  display: none;
  position: absolute;
  width: 150px;
  margin-top: 20px;
  margin-left: 20px;
  background-color: rgba(180, 180, 180, 0.7);
  z-index: 5;
}

#ul-desplegable li {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  list-style: none;
}

#ul-desplegable li:first-child {
  border-bottom: 1px solid rgba(180, 180, 180, 0.9);
}

#ul-desplegable li:hover {
  background-color: rgba(150, 150, 150, 0.8);
}

#ul-desplegable li a {
  margin-left: 10px !important;
  text-align: left;
}

#ul-desplegable li:hover a {
  color: white;
}

body > header nav a {
  color: white;
  margin-left: 2rem;
  font-size: 1rem;
  font-family: Helvetica, sans-serif;
}

main {
  flex-grow: 1;
  background-color: white;
}

footer {
  padding: 0.5rem;
  background-color: rgba(52, 58, 64, 1);
  color: white;
  text-align: center;
}

.profile-description h5 {
  padding: 3% 31% 0 31%;
  line-height: 30px;
  font-size: 0.9rem;
  color: white;
}

.home {
  color: white;
  text-decoration: none;
  margin-left: 1.2rem;
  font-size: 1.5rem;
  font-family: Helvetica, sans-serif;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.links:hover {
  color: #a0a0a0;
  transition: 0.3s;
}

.profile {
  height: 550px;
  width: 100%;
}

.sticky + main {
  padding-top: 50px;
}

.container {
  height: 300px;
  display: inline-block;
  align-items: center;
  position: relative;
}

.profile-description {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  text-align: center;
  padding-top: 120px;
  height: 550px;
  width: 100%;
  font-family: Arial, sans-serif;
  text-shadow: black 0.1em 0.1em 0.1em;
}

.profile-description strong {
  font-size: 60px;
  font-family: Helvetica, sans-serif;
  text-shadow: black 0.1em 0.1em 0.1em;
}

.profile-img {
  height: 550px;
  width: 100%;
  align-content: center;
  display: flex;
  justify-content: center;
}

.articulos {
  margin: 30px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.articulos h3 {
  color: #5a5959b8;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 50px;
  margin: 10px 0 -10px 30px;
  font-size: 30px;
}

.articulo {
  width: 12%;
  height: 200px;
  padding: 35px 0 0 0;
  border-radius: 10px;
  box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.3);
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 50% 70%;
}

.articulo:hover {
  transform: scale(1.1);
  color: black;
  background-color: rgba(224, 224, 224, 0.5);
}

.articulo img {
  width: 50%;
  height: 65%;
  padding: 0 10% 0 10%;
  display: block;
  margin: auto;
}

.articulo p {
  width: 60%;
  margin: auto;
  font-size: medium;
  color: #5a5959;
}

.Cerrar-Sesion:hover {
  color: #a0a0a0;
  transition: 0.3s;
}

#caja {
  background-image: url("../Images/caja.png");
  background-size: 50% 50%;
}
#ubicacion {
  background-image: url("../Images/mapa.png");
  background-size: 40% 45%;
}

#lupa {
  background-image: url("../Images/seguimiento.png");
  background-size: 40% 45%;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
