* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

html,
body {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;

  font-style: "Roboto", sans-serif;
}

body > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 2.5rem;
  background-color: rgba(52, 58, 64, 1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
  z-index: 4;
}
.slider {
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.slider ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: cambio 20s infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}
.slider li {
  list-style: none;
  width: 100%;
}
.slider img {
  width: 100%;
}

#home {
  background-image: url("../Images/logo.png");
  background-size: contain;
  width: 64px;
  height: 50px;
}

#sesion {
  display: block;
  height: 100%;
  float: right;
  cursor: pointer;
}

#sesion span {
  color: white;
  margin-left: 2rem;
  font-size: 1rem;
  font-family: Helvetica, sans-serif;
}

#sesion span:hover {
  color: #a0a0a0;
  transition: 0.3s;
}

#sesion span:hover > i {
  color: #a0a0a0;
  transition: 0.3s;
}

.fa-caret-down {
  margin-left: 5px;
  color: white;
}

#ul-desplegable {
  display: none;
  position: absolute;
  width: 160px;
  margin-top: 20px;
  margin-left: 20px;
  background-color: rgba(180, 180, 180, 0.7);
  z-index: 5;
}

#ul-desplegable li {
  list-style: none;
}

#ul-desplegable li:first-child {
  border-bottom: 1px solid rgba(180, 180, 180, 0.9);
}

#ul-desplegable li:hover {
  background-color: rgba(150, 150, 150, 0.8);
}

#ul-desplegable li a {
  display: block;
  margin-left: 0px !important;
  padding: 20px;
}

#ul-desplegable li:hover a {
  color: white;
}

body > header nav a {
  color: white;
  margin-left: 2rem;
  font-size: 1rem;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

main {
  flex-grow: 1;
  background-color: white;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 2.8rem;
  background-color: rgba(52, 58, 64, 1);
  color: white;
  /* text-align: center; */
  align-items: center;
}
footer a {
  color: white;
}
footer a:hover {
  text-decoration: underline;
}
footer p {
  width: 100%;
}
#seiciro {
  cursor: pointer;
}

#contacto {
  background-image: url("../Images/contacto.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 40px;
  padding: 0px 30px;
}
.profile-description h5 {
  padding: 3% 31% 0 31%;
  line-height: 30px;
  font-size: 0.9rem;
  color: white;
}

.home {
  color: white;
  text-decoration: none;
  margin-left: 1.2rem;
  font-size: 1.5rem;
  font-family: Helvetica, sans-serif;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.links:hover {
  color: #a0a0a0;
  transition: 0.3s;
}

.profile {
  height: 550px;
  width: 100%;
}

.sticky + main {
  padding-top: 75px;
}

.container {
  height: 300px;
  display: inline-block;
  align-items: center;
  position: relative;
}

.profile-description {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  text-align: center;
  padding-top: 120px;
  height: 550px;
  width: 100%;
  font-family: Arial, sans-serif;
  text-shadow: black 0.1em 0.1em 0.1em;
}

.profile-description strong {
  font-size: 60px;
  font-family: Helvetica, sans-serif;
  text-shadow: black 0.1em 0.1em 0.1em;
}

.profile-img {
  height: 550px;
  width: 100%;
  align-content: center;
  display: flex;
  justify-content: center;
}
.novedades,
.articulos {
  margin: 30px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.novedades h3,
.articulos h3 {
  color: #5a5959b8;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 50px;
  margin: 10px 0 10px 30px;
  font-size: 30px;
}

.articulo {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: rgba(0, 0, 0, 0.689);
  width: 22%;
  height: 280px;
  padding: 25px 0 0 0;
  border-radius: 10px;
  box-shadow: 0px 3px 6px -1px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background-repeat: no-repeat;
  background-position: 50% 70%;
}
.articulo-texto {
  position: absolute;
  font-size: 18px;
  margin-top: 80px;
  color: #5a5959b8;
}
.articulo:hover {
  transform: scale(1.1);
  color: black;
  background-color: rgba(224, 224, 224, 0.5);
}

.Cerrar-Sesion:hover {
  color: #a0a0a0;
  transition: 0.3s;
}

.novedades-container {
  display: flex;
  width: 80%;
  height: 80%;
  box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.3);
}
.novedades-container h1 {
  color: rgba(0, 0, 0, 0.732);
  padding: 15px 0;
  font-size: 40px;
}
.novedades-container h4 {
  color: #5a595998;
  padding-left: 80px;
  line-height: 25px;
}

.novedades-container img {
  padding-left: 100px;
  height: 100%;
}
.novedades-container-horario {
  padding-left: 90px;
  width: 100%;
  align-self: center;
}

#caja {
  background-image: url("https://cdn.discordapp.com/attachments/750135258149683263/786012289027145778/pngegg_7.png");
  background-size: 60% 60%;
  background-position: bottom;
}
#ubicacion {
  background-image: url("https://cdn.discordapp.com/attachments/750135258149683263/786010120891006976/pngegg_1.png");
  background-size: 35% 35%;
  background-position: bottom;
  background-position-y: 94%;
}

#lupa {
  background-image: url("https://cdn.discordapp.com/attachments/750135258149683263/786010282996269116/pngegg_3.png");
  background-size: 40% 40%;
  background-position: bottom;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
