.perfil {
  color: #424242da;
  font-family: "Ubuntu";
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  grid-auto-rows: minmax(100px, auto);
  grid-template-rows: 1fr 2fr;
  height: 100%;
  width: 100%;
  padding: 40px;
}
.perfil-container {
  grid-column: 1/2;
  grid-row: 1/3;
  border-right: 2px solid #9b9b9b;
  padding-right: 40px;
  text-align: center;
}
.perfil-historial {
  grid-column: 2 / 4;
  grid-row: 1/3;
}
.perfil-historial h2 {
  border-top: solid 1px rgba(128, 128, 128, 0.596);
  border-bottom: solid 1px rgba(128, 128, 128, 0.596);
  width: 17%;
  padding-bottom: 6px;
  padding-top: 6px;
  margin-bottom: 50px;
  color: #424242cc;
}
.perfil img {
  border-radius: 10px;
  width: 70%;
  margin-bottom: 40px;
}
.perfil-description {
  margin-top: 40px;
  color: gray;
  line-height: 30px;
}
.perfil-name {
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
}

.perfil-historial-envio {
  display: flex;
  height: 200px;
  width: 85%;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 1px 4px 7px 0px rgba(0, 0, 0, 0.3);
  margin: 40px auto;
  align-items: center;
  cursor: pointer;
}
.perfil-historial-envio h5 {
  width: 100%;
  text-align: center;
}
.perfil-historial-envio:hover {
  background-color: rgba(224, 224, 224, 0.5);
  transition: 0.3s;
  transform: scale(1.02);
}

.historial-destino,
.historial-origen {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 200px;
  height: 160px;
  margin: 0px 130px;
  line-height: 25px;
}

.historial-destino h6,
.historial-origen h6 {
  text-align: center;
  width: 100%;
  color: #9b9b9b;
  font-size: 14px;
}

.historial-origen img,
.historial-destino img {
  height: 70%;
  width: 80%;
  margin-left: 40px;
  margin-bottom: 10px;
}

.historial-estado {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 125px;
  height: 125px;
}
.historial-estado img {
  height: 80%;
  width: 110px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.yellow h6,
.red h6,
.green h6 {
  width: 100%;
  text-align: center;
  color: #9b9b9b;
}
.green:hover {
  background-color: rgba(0, 161, 0, 0.295);
}
.yellow img {
  height: 60%;
}
.yellow:hover {
  background-color: rgba(231, 231, 0, 0.39);
}
.green img {
  height: 60%;
  margin-bottom: 20px;
}
.green .historial-estado img {
  height: 65%;
  width: 70%;
}
.red .historial-estado img {
  height: 45%;
  width: 55%;
}
.red img {
  height: 60%;
}
.red h3 {
  text-align: center;
}
.red:hover {
  background-color: rgba(255, 166, 0, 0.582);
}
