
.fondo-registrarse{    
    width: 100%;
    height: 100%;
    background-image: url("../Images/registrarse-fondo.png");
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-position: right;
}

#form-Registrarse{
    position: absolute;
    margin: 0;
    margin-left: 8.5%;
    margin-top: 6%;
}

#contendorDatos{
    display: flex;
}

#contendorDatos input{
    width: 270px;
}

#form-Registrarse{
    width: 675px;
}

#datos1, #datos2{
    margin: 20px 20px 0 20px;
}

#contendorDatos #registrarse{
    margin: 0;
}

#registrarse{
    width: 300px;
}
.mail,.password{
    margin-top: 7%;
}
.nombre,.apellido{
    margin-top: 22%;
}
.calle{
    margin-top: 25%;
}
.altura{
    width: 100%;
    margin-top: 23%;
}

#titCuenta{
    height: 4%;
    width: 30%;
    margin-left: 31%;
    margin-top: -1%;
    position: absolute;
    border-bottom: 1px solid;
}
#titDireccion{
    height: 4%;
    width: 30%;
    margin-top: 42%;
    margin-left: 31%;
    border-bottom: 1px solid;
    position: absolute;
}
#titDatos{
    height: 4%;
    width: 30%;
    margin-top: 16%;
    margin-left: 31%;
    position: absolute;
    border-bottom: 1px solid;
    
}