.bordes {
  border: 2px solid #156785;
  box-shadow: 1px 1px 3px #028ec5;
}


#container{  
  background-image: url("https://www.mecsoft.com.ar/images/enviosoca.png");
  background-repeat: repeat-x;
  background-position-x: right;
  background-position-y: bottom;
  height: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.readerSeguimiento{
  margin-left: 25%;
  margin-bottom: 5%;
}

#tracking{
  display: block;
  width: 80%;
  margin-bottom: 30px;
}

#progreso{
  counter-reset: step;
}

.seguimiento-estado{
  position: relative;
  width: 25%;
  float: left;
  list-style-type: none;
  text-align: center;
}

.seguimiento-estado:before{
  content: counter(step, upper-alpha);
  counter-increment: step;
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto 10px auto;
  color: white;
  background-color: #028ec5;
  border: 1px solid #028ec5;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
}

.seguimiento-estado:after{
  content: '';
  position: absolute;
  top: 15px;
  margin-left: 5px;
  width: 100%;
  height: 2px;
  background-color:#028ec5;
}

.seguimiento-estado:last-child::after{
  content: none;
}

.nombre-sucursal{
  font-size: 20px !important;
  font-weight: bold;
}

.map-seguimiento{
  width: 80%;
  height: 500px;
  margin: 0px auto;
  margin-top: 50px;
  margin-bottom: 60px;
  border-style: solid;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

#ingreso-busqueda{
  width: 40%;
  padding: 20px 30px;
  margin-top: -10%;
  border-radius: 10px;
  background: #4e4d4d;
  box-shadow: 2px 3px 5px #028ec5;
  color: white;
}

#ingreso-busqueda h2 {
  margin: 0;
  height: 40px;
  margin-bottom: 30px;
  border-bottom: 1px solid;
  font-family: "Roboto", sans-serif;
  text-align: center;
  text-shadow: 1px 1px rgb(90, 89, 89);
}

.control {
  width: 100%;
  padding: 11px 10px;
  margin-bottom: 15px;
  border: 1px solid #14a1da;
  border-radius: 5px;
  background: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.control:hover {
  box-shadow: 0px 0px 3px #13a6e0;
}

.control:focus {
  outline: none;
}

.input-error {
  width: 100%;
  padding: 11px 10px;
  margin-bottom: 15px;
  border: 2px solid red;
  border-radius: 5px;
  background: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.input-error:hover {
  box-shadow: 0px 0px 5px rgb(255, 65, 65);
}

.input-error:focus {
  outline: none;
}
.button:hover {
  border-radius: 8px;
  box-shadow: 0px 0px 2px rgb(168, 177, 226);
  background-color: rgb(218, 216, 216);
  color: #14a1da;
  font-size: 22px;
  font-weight: bolder;
  text-shadow: 1px 1px rgb(179, 179, 179);
}

.button:focus {
  outline: none;
}

.error {
  text-align: center;
  color: rgb(255, 73, 73);
}
