#titulo{
    text-align: center;
    margin: 20px 300px;
    padding: 10px;
    background:#ececec;
    border:solid #ccc;
    border-width: 2px 0;
    font-size: 20px;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#sucursales{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    bottom: 50px;
    width: 100%;
    
}

.sucursal ul li{
    list-style: none;
}

.sucursal{
    font-family: "Roboto";
    width: 35%;
    margin: 20px;   
    text-align: center;        
    letter-spacing: 0.7px;
    color: rgba(0, 0, 0, 0.486);
}

.sucursal-nombre{
    font-size: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.623);
}
.linea-vertical{
    position: absolute;
    text-align: center;
    box-shadow: 0px 0.5px 0px 0.5px rgba(0, 0, 0, 0.3);
    height: 210px;
} 

#maps {
    width: 60%;
    margin: auto;
    border-style: solid;
    height: 50%;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.3);
}